<div class="sidebar left">
    <ul class="main-menu">
        <li class="active"><a href="#">ВИЗИТНАЯ КАРТОЧКА</a>
            <ul class="menuul">
                <li><a href="#">РУКОВОДСТВО</a></li>
                <li><a href="#" class="active">ТРЕНИРОВОЧНАЯ БАЗА </a></li>
                <li><a href="#">СТАДИОН</a></li>
            </ul>
        </li>
        <li><a href="#">СТРОИТЕЛЬСТВО СТАДИОНА</a></li>
        <li><a href="#">СПОНСОРЫ И ПАРТНЕРЫ</a></li>
        <li><a href="#">ПРЕСС-ЦЕНТР</a></li>
        <li><a href="#">ВАКАНСИИ</a></li>
    </ul>
</div>
